.ListPageContainer {
    padding-top: 13px;
    background: #ececec;
    padding-bottom: 13px;
}

.ListPageQuery {
    background: #fff;
    padding: 15px 0px 15px 15px;
    margin: 0 13px 13px;

    button {
        margin-right: 3px;

        &>.anticon+span,
        &>span+.anticon {
            margin-left: 0.3em;
        }
    }
}

.ListPageOperation {
    background-color: #fff;
    padding: 13px;

    button {
        margin-right: 8px;
    }
}

.ListPageContent {
    margin-left: 13px;
    background-color: #fff;
    margin-right: 13px;
    padding-bottom: 13px;
}

.pageWrap {
    :global {
        .hl-table {
            margin-top: 0px;
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding-bottom: 0px !important;

            table tr td,
            table tr th {
                text-align: center
            }
        }
    }
}