.legions-pro-form{
    .anticon-close-circle {
        cursor: pointer;
        color: #ccc;
        transition: color 0.3s;
        font-size: 12px;
        }
        .anticon-close-circle:hover {
        color: #999;
        }
        .anticon-close-circle:active {
        color: #666;
        }
        .ant-input-number-input[disabled]{
        background-color: #f7f7f7;
        opacity: 1;
        cursor: not-allowed;
        color: #666;
    }
    .toggle{
        margin-bottom: 15px; 
    }
    .group{
        width: 100%;
        /* padding-bottom: 5px; */
        .title{
            width: 100%;
            height: 30px;
            border: 1px dashed #5bc0de;
            line-height: 30px;
            width: 100%;
        }
        .span-left{
            padding-left: 10px;
            float: left;
        }
        .span-right{
            padding-right: 10px;
            float: right;
            cursor: pointer;
        }
        .form-content{
            width: 100%;
            margin-top: 10px;
        }
    }
    .container{
        width: 100%;
        height:100%;
        position: relative;
        .left{
            border-right: 1px solid #CDCDCE;
            padding: 0 20px 0 0;
            float:left;   
        }
        .right{
            width: 13%;
            margin-left: 87%;
            ul{
                width: 100%;
                position: relative;
                li{
                    width: 100%;
                    line-height: 30px;
                    left:-5px;
                    position: relative;
                    cursor: pointer
                }
            }
        }
    }
    .hide{
        display: none;
    }
    .form-item-default{
        margin-bottom: 12px;
        .ant-input-group-addon{
            padding: 0 7px !important;
        }
    }
    .form-item-default-error{
        margin-bottom: 6px !important;
        .ant-input-group-addon{
            padding: 0 7px !important;
        }
    }
    .form-item-small{
        margin-bottom: 6px;
    }
    .form-item-none{
        margin-bottom: none;
    }
    .form-item-table{
        margin-bottom: 0px;
        border: 1px solid #776464;
        margin: 0px 0px -1px -1px;
        font-weight: bold;
        .ant-form-explain{
            display: none;
        }
        .ant-input-group-wrapper.ant-input-group-wrapper-sm{
            top:1px !important;
        }
    }
    .table-not-error{
        input{
            border: none;
        }
        .ant-select-selection{
            border: none;
        }
    }
    .form-item-table .ant-form-item-label{
        border-right: 1px solid #776464;
        padding-right: 2px;
    }
    .ant-form-explain{
        overflow: hidden;
        text-overflow: ellipsis;
        /* white-space: pre-wrap; */
        white-space: nowrap;
    }
    :global{
        input::-webkit-input-placeholder { /* WebKit browsers */
            /* color: #bfbfbf; */
            color: #999999;
            font-size: 12px;
            opacity: 0.55;
        }
    }
}
.legions-pro-table-row-height{
    .ant-form-item-label{
        line-height: 25px;
    }
    .ant-form-item-control{
        line-height: 25px;
    }
    .ant-input-group-addon{
        padding: 0px 10px !important;
        background-color:#fff !important;
        border:none !important;
    }
}
.legions-pro-table-layout  .ant-tooltip-inner{
    background-color: rgba(204, 67, 67, 0.75);
}
.legions-pro-table-layout .ant-tooltip-arrow{
    border-left-color: rgba(204, 67, 67, 0.75) !important;
}
.ant-input-disabled{
    background-color: #f7f7f7;
    opacity: 1;
    cursor: not-allowed;
    color:#666;
}
.errorView .ant-select-arrow{
    right: 28px;
}
.errorView .ant-select-selection__clear{
    right: 28px;
}
.errorView .hool-select-copy{
    right: 16px;
}
.legions-pro-form .has-error .ant-form-explain,
.has-error .ant-form-split {
  color: #f04134;
  font-size: 12px;
}